.heading{
    font-size: x-large;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: medium;
    color: royalblue;
}
.div_speed{
    float: left;
}
.disk{
    width: 200px;
    border-radius: 100px;
}
.heading_2{
    font-size: x-large;
    margin: 15px;
    border-radius: 100px;
    color: royalblue;
}
.div_volume{
    float: right;
}
.div_play{
    font-size: x-large;
}
body{
    background-size: cover
    
    ;
}
canvas{
    border-radius: 100px;
    border: 30px groove goldenrod;
}